<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.Verifysearchfielddisble()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">Verifysearchfielddisble</td> 
  <td>main@1365008457</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:17</td>   <td>-3451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Homepage.Setup()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1365008457</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:20</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Homepage.SuiteTeardown()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">&lt;&lt;SuiteTeardown</td> 
<td>&nbsp;</td>  <td>main@1365008457</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:20</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Homepage.SuiteTeardown()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">&lt;&lt;SuiteTeardown</td> 
<td>&nbsp;</td>  <td>main@1365008457</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:16</td>   <td>-3680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homepage.VerifysearchFieldenble()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">VerifysearchFieldenble</td> 
  <td>main@1365008457</td>   <td></td> </tr>
<tr bgcolor="dc9775">  <td>22/09/15 11:31:17</td>   <td>-3451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Homepage.Setup()[pri:0, instance:hrmTestclasses.Homepage@15c43bd9]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1365008457</td>   <td></td> </tr>
</table>
