<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0fea4">  <td>22/09/14 19:36:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.teardown()[pri:0, instance:com.hrm.qa.testcases.LoginTest@70e8f8e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@953742666</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>22/09/14 19:35:53</td>   <td>-20827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.hrm.qa.testcases.LoginTest@70e8f8e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@953742666</td>   <td></td> </tr>
<tr bgcolor="e0fea4">  <td>22/09/14 19:36:03</td>   <td>-10756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifyLoginTest()[pri:0, instance:com.hrm.qa.testcases.LoginTest@70e8f8e]">VerifyLoginTest</td> 
  <td>main@953742666</td>   <td></td> </tr>
</table>
